@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gerenciamento Conta Bancaria</h1>
    <p class="lead">Projeto realizado para demonstração de habilidades e competencias</p>
    <p><a href="#" class="btn btn-primary btn-lg">Especificações &raquo;</a></p>
</div>

